body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.container h1 {
    color: #333;
}

.container h5 {
    color: #555;
}

.container input[type="file"],	
.container button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #f4f4f4;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container input[type="file"]:hover,
.container button:hover {
    background-color: #5dbea3;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    text-align: left;
}

img {
    border: 2px solid #000;
    border-radius: 5px;
    max-width: 100%;
}

.chart-canvas {
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
